* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* begin header styling */

header {
    display: flex;
    height: 2em;
    justify-content: space-around;
    color: white;
    align-items: center;
    font-size: 28px;
    background: #555555;
    padding: .5em;
}

header p {
    font-weight: 900;
}

.setGrid {
    border: 2px solid white;
    padding: .25em .5em;
    border-radius: .5em;
    background: linear-gradient(to bottom right, #8a2387, #e94057, #f27121);
    box-shadow: 4px 4px rgba(0,0,0,.4);
}

.setGrid:active {
    transform: translateY(2px);
}

.logo {
    font-family: Lobster;
}
/* end header styling */

/* begin main styling */

main {
    flex: 1 1 auto;
    display: flex;
}

.sketch-container {
    flex: 1;
    display: grid;
}

.color1{
    background-color: rgb(0,0,0);
}

.color2 {
    background-color: rgb(200, 0, 255);
}

.color3 {
    background-color: rgb(90, 0, 255);
}

.color4 {
    background-color: rgb(0, 0, 255);
}

.color5 {
    background-color: rgb(0, 255, 0);
}

.color6 {
    background-color: rgb(255, 165, 0)
}

.color7 {
    background-color: rgb(255, 0, 0)
}

.color8 {
    background-color: white;
}

/* end main styling */

/* begin footer styling */

footer {
    height: 3em;
    background-color: palegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lobster, sans-serif;
    font-size: 18px;
    background: #555555;
    color: white;
}

/* end footer styling */